
   
   /* Container for the table */
.table1 {
  display: table;
  border-spacing: 10px; /* Adjust the spacing between cells */
}

/* Table rows */
.row1 {
  display: table-row;
}

/* Table cells */
.cell1 {
  display: table-cell;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #757cd2;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    
  margin-left: 100px;
}

/* Style for the content inside each cell */
.cell1 a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block; /* Center text vertically and horizontally */
}
   
   /*footer  */
   
   .footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 101px
}

